<!DOCTYPE html>
<html>
  <head>
    <title>AST explorer</title>
    <meta charset="UTF-8">
    <meta name="description" content="An online AST explorer.">
    <%= htmlWebpackPlugin.files.webpackManifest %>
  </head>
  <body>
    <div id="page">
      <div id="container"></div>
      <div id="contribution">
        Built with
        <a href="https://reactjs.org/">React</a>,
        <a href="https://babeljs.io/">Babel</a>,
        <a href="https://fontawesome.com/">Font Awesome</a>,
        <a href="https://codemirror.net/">CodeMirror</a>,
        <a href="https://expressjs.com/">Express</a>,
        and
        <a href="https://webpack.js.org/">webpack</a>
        |
        <a href="https://github.com/wxmlfile/explorer">GitHub</a>
        |
        <span>@@COMMIT@@</span>
      </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WEW83V9KLR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WEW83V9KLR');
    </script>
    <!-- End Google Analytics -->
  </body>
</html>
